<header>
  <div class="brand">
    <a href="./index.html">
      <img 
        src="../images/<%= page == "scifi" ? "scifi_book" : "flying_book" %>.png" 
        alt="Flying Book" 
        width="200" 
        height="200"
      >
    </a>
  </div>
</header>

