<% count_lookup = type_counts.to_h %>

<% if type_percentages.length > 0 %>
  <% type_percentages.each do |type, percent| %>
    <p>
    <strong><%= count_lookup[type] %></strong>
    <%= pluralize(type) %>
    (<%= percent %>%)
    </p>
  <% end %>
<% end %>

