<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../styles/base.css">
</head>
<body>
  <table>
    <tr>
    <% header_cells.each do |cell| %>
      <th> <%= cell %> </th>
    <% end %>
    </tr>
  <% body_rows.each do |row| %>
    <tr>
    <% row.each do |cell| %>
      <td style="white-space:nowrap">
        <%= cell %>
      </td>
    <% end %>
    </tr>
  <% end %>
  </table>
</body>
</html>
