/* SEMANTIC */

body {
  font-family: monospace;
}

table {
  text-align: left;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid black;
}

td {
  padding: 10px;
}

th {
  padding: 10px;
}

fieldset {
  border: 1px solid black;
  display: block;
  margin-top: 2em;
  padding: 2em 1em;
}

/* STATS */

.stat-box {
  display: inline-block; 
  border: 1px solid black;
  text-align: center;
  padding: 1em;
  width: 10em;
  height: 10em;  
  vertical-align: top;
}

.stat {
  font-size: 2em; 
  margin-bottom: 0.5em;
  margin-top: 1em;
}


