/* SEMANTIC TAGS */

body {
  font-family: monospace;
}

a {
  color: black;
  text-underline-position: under;
}

ul {
  margin: 0;
  margin-top: 1em;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

ul > li:before {
  content: "-";
  margin-right: 0.5em;
}

li {
  margin-bottom: 0.35em;
}

table {
  text-align: left;
  border-collapse: collapse;
}

table.invisible tr {
  border: none;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

td {
  padding: 10px 10px 2px;
}

th {
  padding: 10px;
}

fieldset {
  max-width: 40em;
  min-width: 30em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin-top: 1em;
  padding: 1em 1em;
}

fieldset legend {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 0.1em 0.25em;
}

fieldset.quote legend {
  font-family: "Times New Roman", Times, serif;
  vertical-align: sub;
  font-size: 2em;
  font-weight: bolder;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 0.15em 0.25em 0 0.25em;
}


fieldset.quote .interior-text {
  line-height: 1.35em;
  font-size: 1.15em;
  padding: 1em 3em;
}

/* SHARED CLASSES */

.rating-98-100 {
  font-weight: bolder;
  text-decoration: underline;
  text-underline-position: under;
}

.rating-90-97 {
  font-weight: bold;
}

.rating-80-89 {
}

.rating-70-79 {
}

.rating-0-69 {
}

header {
  margin-bottom: 5em;
}

header .brand {
  height: 110px;
  width: 110px;
  margin-bottom: 4em;
}

.card {
  max-width: 40em;
  min-width: 30em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin-top: 1em;
  padding: 1em 1em;
}

.nav-item {
  margin-bottom: 0.5em;
}

