main.list {
  width: 100%;
  padding: 0rem 0.5em 3em 0.5em;
}

main.list table {
  margin: 0 auto;
  border: 1px solid lightgray;
  border-radius: 3px;
}

main.list td {
  white-space: nowrap
}

main.list .rating {
  text-align: center;
  border-radius: 3px;
}
