main.page {
  max-width: 40em;                                                                                                                                
  padding: 0rem 0.5em 3em 2.5em;
}

h1 {
  margin-bottom: 2em;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1em;
  text-transform: uppercase;
}

.stats {
  margin-bottom: 2em;
}

.stat-box {
}

.stat {
  font-size: 1em; 
  margin-bottom: 0.25em;
  margin-top: 1em;
  font-weight: bold;
  display: inline-block;
}

.stat-caption {
  display: inline-block;
}

.text {
  max-width: 40em;
  min-width: 30em;
  margin-top: 1em;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}

.text .row .heading {
  vertical-align: top;
  margin-left: 1em;
  padding: 0.25em 0.1em;
  line-height: 1.5;
}

.text .rating {
  display: flex;
  width: 2.5em;
  text-align: center;
  padding: 0.25em 0.1em;
  line-height: 1.5;
}

.text .particulars {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.particulars table {
  width: 100%;
}

.particulars td {
  width: 1px;
  padding-left: 1em;
  padding-top: 2px;
}

.particulars td:last-child {
  width: 100%;
}

.particulars tr {
  border-bottom: none;
}

